<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luquanlin.learning.mapper.BillMapper">
    <!--查询所有账单-->
    <select id="selectAllBill" resultType="HashMap">
        select b.bill_id, b.user_id, b.bill_name, bill_date, u.user_name
        from bill b
                 inner join user u on u.user_id = b.user_id
        where b.bill_state = 1
    </select>

    <!--模糊查询-->
    <select id="selectVagueBill" resultType="HashMap">
        select b.bill_id, b.user_id, b.bill_name, bill_date, u.user_name
        from bill b
                 inner join user u on u.user_id = b.user_id
        where concat(b.bill_name, u.user_name) LIKE CONCAT('%${bill_name}%', '%${user_name}%')
          and b.bill_state = 1
    </select>

    <!--查询后台账单详情 -->
    <select id="selectBillDetail" resultType="HashMap">
        select u.user_name, u.user_sex, bu.buser_time, bu.buser_if, bu.buser_id, b.*
        from bill b
                 inner JOIN buser bu on bu.bill_id = b.bill_id
                 inner join user u on u.user_id = bu.user_id
        where b.bill_id = #{bill_id}
          and (bu.buser_if = 1 or bu.buser_if = 3)
    </select>

    <!--模糊查询账单详情 -->
    <select id="selectVagueBillDetail" resultType="HashMap">
        select u.user_name, u.user_sex, bu.buser_time, bu.buser_if, bu.buser_id, b.*
        from bill b
                 inner JOIN buser bu on bu.bill_id = b.bill_id
                 inner join user u on u.user_id = bu.user_id
        where b.bill_id = #{bill_id}
          and u.user_name like '%${user_name}%'
          and (bu.buser_if = 1 or bu.buser_if = 3)
    </select>

    <!--查询账单列表-->
    <select id="selectBillsTable" resultType="HashMap">
        select b.*, u.user_name
        from buser bu
                 inner join bill b on b.bill_id = bu.bill_id
                 inner join user u on u.user_id = b.user_id
        where bu.user_id = #{user_id}
          and b.bill_state = 1
          and bu.buser_if = 1
    </select>

    <!--创建账单-->
    <insert id="insertBill">
        insert bill(user_id, bill_name, bill_date)
        values (#{user_id}, #{bill_name}, #{bill_date})
    </insert>

    <!--查询前端用户账单详情-->
    <select id="selectAllBdetail" resultType="HashMap">
        select b.*,
               bd.type_id,
               bd.bdetail_remarks,
               bd.bdetail_money,
               bd.bdetail_date,
               t.type_mark,
               t.type_name,
               u.user_id as uuid,
               u.user_name,
               bd.bdetail_id

        from bill b
                 inner join buser bu on bu.bill_id = b.bill_id
                 inner join bdetail bd on bd.bill_id = bu.bill_id and bd.user_id = bu.user_id
                 inner join type t on t.type_id = bd.type_id
                 inner join user u on u.user_id = bd.user_id
        where bu.bill_id = #{bill_id}
          and bd.bdetail_state = 1
    </select>

    <!--查询账单的人数-->
    <select id="selectBillAllPeople" resultType="HashMap">
        select bu.buser_id,
               b.user_id as found_id,
               b.bill_name,
               u.user_id,
               u.user_name,
               u.user_account,
               bu.buser_time,
               bu.buser_if
        from buser bu
                 inner join bill b on b.bill_id = bu.bill_id
                 inner JOIN user u on u.user_id = bu.user_id
        where bu.bill_id = #{bill_id}
          and bu.buser_if != 3
    </select>

    <!--查询他人账单-->
    <select id="selectOtherBills" resultType="HashMap">
        select b.*, u.user_name
        from buser bu
                 inner join bill b on b.bill_id = bu.bill_id
                 inner join user u on u.user_id = b.user_id
        where bu.user_id = #{buuser_id}
          and b.user_id != #{buser_id}
          and b.bill_state = 1
          and bu.buser_if = 1
    </select>

    <!--查询自己的账单-->
    <select id="selectMyBills" resultType="HashMap">
        select b.*, u.user_name
        from buser bu
                 inner join bill b on b.bill_id = bu.bill_id
                 inner join user u on u.user_id = b.user_id
        where bu.user_id = #{buuser_id}
          and b.user_id = #{buser_id}
          and b.bill_state = 1
    </select>

    <!--查询已结算的账单-->
    <select id="selectAddBill" resultType="HashMap">
        select b.*, u.user_name
        from buser bu
                 inner join bill b on b.bill_id = bu.bill_id
                 inner join user u on u.user_id = b.user_id
        where bu.user_id = #{user_id}
          and b.bill_add = 1
          and b.bill_state = 1
    </select>

    <!--邀请人加入账单-->
    <insert id="insertBillPeople">
        insert buser(bill_id, user_id, buser_time)
        values (#{bill_id}, #{user_id}, #{buser_time})
    </insert>

    <!--查询账单最大id-->
    <select id="selectMaxBillId" resultType="HashMap">
        select max(bill_id) as bill_id
        from bill
    </select>

    <!--自己加入账单-->
    <insert id="insertMineBill">
        insert buser(bill_id, user_id, buser_time, buser_if)
        values (#{bill_id}, #{user_id}, #{buser_time}, '1')
    </insert>

    <!--删除账单-->
    <update id="deleteBill">
        UPDATE bill
        set bill_state=0
        where bill_id = #{bill_id}
    </update>

    <!--删除联系人-->
    <update id="updateBillPeople">
        update buser
        set buser_if=3
        where buser_id = #{buser_id}
    </update>

    <!--通用查询-->
    <select id="sqlQuery" resultType="HashMap">
        select #{sql}
    </select>

    <!--查看邀请自己进入账单信息-->
    <select id="billUserIfZero" resultType="HashMap">
        select bu.*, b.bill_name
        from buser bu
                 inner join bill b on b.bill_id = bu.bill_id
        where bu.user_id = #{user_id}
          and bu.buser_if = 0
    </select>

    <!--同意账单邀请-->
    <update id="updateBillUserIfOne">
        update buser
        SET buser_if=1
        where buser_id = #{buser_id}
    </update>

    <!--拒绝账单邀请-->
    <update id="updateBillUserIfTwo">
        update buser
        SET buser_if=2
        where buser_id = #{buser_id}
    </update>

    <!--插入账单数据-->
    <insert id="insertUserBdetail">
        insert into bdetail(bill_id, user_id, type_id, bdetail_money, bdetail_remarks, bdetail_date)
        values (#{bill_id}, #{user_id}, #{type_id}, #{bdetail_money}, #{bdetail_remarks}, #{bdetail_date})
    </insert>
    <!--删除账单数据-->
    <update id="deleteUserBdetail">
        UPDATE bdetail
        set bdetail_state=0
        where bdetail_id = #{bdetail_id}
    </update>

    <!--结算账单-->
    <update id="closeBill">
        UPDATE bill
        SET bill_income=(select (case when sum(bd.bdetail_money) is null then 0 else sum(bd.bdetail_money) end) as sr
                         FROM bdetail bd
                                  inner JOIN type t on t.type_id = bd.type_id
                         where bd.bill_id = #{bill_id}
                           AND type_mark = 1),
            bill_expend=(select (case when sum(bd.bdetail_money) is null then 0 else sum(bd.bdetail_money) end) as zc
                         FROM bdetail bd
                                  inner JOIN type t on t.type_id = bd.type_id
                         where bd.bill_id = #{bill_id}
                           AND type_mark = 0),
            bill_total=(select ((case when sum(bd.bdetail_money) is null then 0 else sum(bd.bdetail_money) end) -
                                (select (case
                                             when sum(bd.bdetail_money) is null then 0
                                             else sum(bd.bdetail_money) end) as sr
                                 FROM bdetail bd
                                          inner JOIN type t on t.type_id = bd.type_id
                                 where bd.bill_id = #{bill_id}
                                   AND type_mark = 0)) as zc
                        FROM bdetail bd
                                 inner JOIN type t on t.type_id = bd.type_id
                        where bd.bill_id = #{bill_id}
                          AND type_mark = 1),
            bill_average=(select (((case when sum(bd.bdetail_money) is null then 0 else sum(bd.bdetail_money) end) -
                                   (select (case
                                                when sum(bd.bdetail_money) is null then 0
                                                else sum(bd.bdetail_money) end) as sr
                                    FROM bdetail bd
                                             inner JOIN type t on t.type_id = bd.type_id
                                    where bd.bill_id = #{bill_id}
                                      AND type_mark = 0)) /
                                  (select count(*) from buser b where b.bill_id = #{bill_id})) as zc
                          FROM bdetail bd
                                   inner JOIN type t on t.type_id = bd.type_id
                          where bd.bill_id = #{bill_id}
                            AND type_mark = 1),
            bill_add=1
        where bill_id = #{bill_id}
    </update>

    <!--统计全部-->
    <select id="tjAll" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_mark
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.user_id = #{user_id}
          AND bd.bdetail_state = 1
        group by t.type_mark
    </select>

    <!--统计支出-->
    <select id="tjMarkZero" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_name
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.user_id = #{user_id}
          AND bd.bdetail_state = 1
          AND t.type_mark = 0
        group BY type_name
    </select>

    <!--统计收入-->
    <select id="tjMarkOne" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_name
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.user_id = #{user_id}
          AND bd.bdetail_state = 1
          AND t.type_mark = 1
        group BY type_name
    </select>

    <!--后台统计全部-->
    <select id="tjAllHt" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_mark
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.bdetail_state = 1
        group by t.type_mark
    </select>

    <!--后台统计收入-->
    <select id="tjMarkOneHt" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_name
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.bdetail_state = 1
          AND t.type_mark = 1
        group BY type_name
    </select>

    <!--后台统计支出-->
    <select id="tjMarkZeroHt" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_name
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.bdetail_state = 1
          AND t.type_mark = 0
        group BY type_name
    </select>

    <!--后台分组月统计支出-->
    <select id="tjMonthZeroHt" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_mark, bd.bdetail_date, DATE_FORMAT(bd.bdetail_date, '%m') as month
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.bdetail_state = 1
          and t.type_mark = 0
        GROUP BY t.type_mark,
                 DATE_FORMAT(bd.bdetail_date, '%m')

    </select>

    <!--后台分组月统计收入-->
    <select id="tjMonthOneHt" resultType="HashMap">
        select sum(bd.bdetail_money) as money, t.type_mark, bd.bdetail_date, DATE_FORMAT(bd.bdetail_date, '%m') as month
        from bdetail bd
                 inner join type t on t.type_id = bd.type_id
        where bd.bdetail_state = 1
          and t.type_mark = 1
        GROUP BY t.type_mark,
                 DATE_FORMAT(bd.bdetail_date, '%m')

    </select>
</mapper>
